
  // Simple fonts
  $font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  // Classical line heights
  $line-height-headers: 1.1;
  $line-height-body:    1.5;

  // Classical and robust font sizes system
  $font-size-xs: 0.75rem;   // 12px
  $font-size-s: 0.875rem;   // 14px
  $font-size-m: 1rem;       // 16px
  $font-size-l: 1.125rem;   // 18px
  $font-size-xl: 1.25rem;   // 20px
  $font-size-xxl: 1.5rem;   // 24px
  $font-size-xxxl: 2rem;    // 32px
  $font-size-xxxxl: 2.5rem; // 40px
  $font-size-header: 4.5rem; // 72px

  // Three different text colors
  $color-text-header:   hsl(0, 1%, 16%);
  $color-text-body:     #CCCCCC;
  $color-text-muted:    hsl(0, 1%, 44%);
  $color-text-highlight:#F72585;

  // Classical and robust spacing system
  $space-xxxs: 0.25rem; // 4px
  $space-xxs: 0.375rem; // 6px
  $space-xs: 0.5rem;    // 8px
  $space-s: 0.75rem;    // 12px
  $space-m: 1rem;       // 16px
  $space-l: 1.5rem;     // 24px
  $space-xl: 2rem;      // 32px
  $space-xxl: 2.5rem;   // 40px
  $space-xxxl: 3rem;    // 48px
  $space-xxxxl: 4rem;   // 64px


  // Application colors
  $color-primary:          hsl(276, 91%, 38%);
  $color-primary-rotate:   hsl(229 83% 60%);
  $color-primary-bg:       hsl(0, 85%, 96%);
  $color-secondary:        hsl(101, 45%, 56%);
  $color-secondary-rotate: hsl(120, 45%, 56%);
  $color-tertiary:         #4CC9F0;
  $color-glint:            #F72585;

  // Neutral colors
  $color-white:      hsl(0 0% 100%);
  $color-background: radial-gradient(hsl(290 57% 30%), hsl(258 93% 16%));
  $color-light:      hsl(0 6% 93%);
  $color-dark:       $color-text-header;

  // Border radius
  $border-radius:       0.375rem; // 6px
  $border-radius-large: 1.5rem; // 24px
  $border-rounded:      50%;

  // Border
  $border: solid 2px $color-light;

  // Shadows
  $shadow-large:        0px 0px 10px hsl(194 85% 0%);
  $shadow-large-hover:  0px 0px 200px -6px hsl(194 85% 62%);
  $shadow-small:        1px 3px 6px #B5179E;
