.cards-container {

  display: flex;
  flex-direction: column;
  gap: $space-m;
  padding: 1rem;

  @include media(tabletLandscapeAndUp) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, $card-width));
    justify-content: center;
    margin: auto;
    padding: $space-xxl;
    max-width: 80rem;
    gap: $space-m;

  }
}
