<footer class="footer">
  <div class="footer__bio">
    <h2>LiveTree</h2>
    <p>LiveTree offers you a unique platform to discover and follow all lives on your favorite social networks. Join us and never miss a live moment again!</p>
  </div>
  <div class="footer__menu">
    <div class="footer__column">
      <ul>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">CGU</a></li>
      </ul>
    </div>
    <div class="footer__column">
      <ul>
        <li><a href="#">Ouvrir un compte</a></li>
        <li><a href="#">Devenir livecaster</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__signature">
    <p>Made with ❤️ in the 🌍 &copy; <span><%= Time.now.year %></span></p>
  </div>
</footer>
