.card {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 64px;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: $border-radius;
  box-shadow: $shadow-large;
  overflow: hidden;

  &__link {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-basis: auto;
    flex-grow: 1;
  }

  &__image {
    display: flex;
    padding: $space-xxxs;
    img {
      border-radius: $border-radius;
    }
  }

  &__title {
    color: $color-text-header;
  }

  &__infos {
    display: flex;
    font-size: $font-size-s;
  }
   &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

  &__actions {
    display:flex;
    align-items: center;
    .btn--delete {
      display: none;
    }
    .btn--edit {
      display: none;
    }
  }


  @include media(tabletLandscapeAndUp) {

    display: flex;
    flex-direction: column;

    align-items: center;
    overflow: hidden;
    max-width: 9rem;
    width: $card-width;
    height: 100%;

    z-index: 1;

    background-color: $color-white;
    border-radius: $border-radius-large;
    box-shadow: $shadow-large;

    &:hover, &:focus, &:focus-within {
      box-shadow: $shadow-large-hover;
      z-index: 0;
    }
    &__link {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 1rem;
    }
    &__title {
      font-size: $font-size-s;
      font-weight: bold;
      color: $color-white;
      position: absolute;
      bottom: 2.5rem;
      left: 8px;
      text-shadow: 1px 1px 2px black;;
    }

    &__image {
      width: 100%;
      padding: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__infos {
      padding: 0 $space-xs ; /* Espacement à l'intérieur de la partie infos */
      display: flex;
      flex-direction: column;
      span {
        font-size: $font-size-xs;
        color: $color-dark;
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-l;
      .btn--delete {
        display: inherit;
      }
      .btn--edit {
        display: inherit;
      }

    }
  }
}
