.show-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  @include media(tabletLandscapeAndUp) {
    flex-direction: row;
    img {
      width: 300px;
      height: auto;
    }
  }
}
