<main class="container">
  <div class="header">
    <h1>Lives</h1>
    <%= link_to "New live",
                new_live_path,
                class: "btn btn--primary" %>
  </div>
  <div class="cards-container">
    <%= render @lives %>
  </div>
</main>
