<main class="container">
  <div class="header">
    <h1 class="header__title">
      All
      <span class="header__title--highlight">Social Lives</span> in One Place.
    </h1>
    <%= link_to "New live",
                new_live_path,
                class: "btn btn--primary" %>
  </div>
  <div class="cards-container">
    <%= render @lives %>
  </div>
</main>
